@page
@model StaffModel
@{
    ViewData["Title"] = "Staff Policy";
}

<div class="row justify-content-center">
    <div class="col-md-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Owner/Head Mechanic
            </div>
            <img src="img/Gerardo.png" class="card-img-top" style="height: 300px;">
            <div class="card-body">
                <h5 class="card-title">Gerardo Flores</h5>
                <p class="card-text">Contact info: maintenance@yellowcity.com</p>
            </div>
        </div>
    </div>

    <div class="col-md-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Head of Office
            </div>
            <img src="img/saira.png" class="card-img-top" style="height: 300px;">
            <div class="card-body">
                <h5 class="card-title">Saira Flores</h5>
                <p class="card-text">Contact info: office@yellowcity.com</p>
            </div>
        </div>
    </div>

    <div class="col-md-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Dispatch
            </div>
            <img src="img/Kennita.png" class="card-img-top" style="height: 300px;">
            <div class="card-body">
                <h5 class="card-title">Kennita Doe</h5>
                <p class="card-text">Contact info: dispatch@yellowcity.com</p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-auto">
        <div class="card" style="width: 18rem; margin-top: 10px;">
            <div class="card-header">
                Accounting
            </div>
            <img src="img/Angel.png" class="card-img-top" style="height: 300px;">
            <div class="card-body">
                <h5 class="card-title">Angel Flores</h5>
                <p class="card-text">Contact info: Accounting@Yellowcity.com</p>
            </div>
        </div>
    </div>

    <div class="col-md-auto">
        <div class="card" style="width: 18rem; margin-top: 10px;">
            <div class="card-header">
                Safety Manager
            </div>
            <img src="img/Cindi.png" class="card-img-top" style="height: 300px;">
            <div class="card-body">
                <h5 class="card-title">Cindi Doe</h5>
                <p class="card-text">Contact info: safety@yellowcity.com</p>
            </div>
        </div>
    </div>

    <div class="col-md-auto">
        <div class="card" style="width: 18rem; margin-top: 10px;">
            <div class="card-header">
                Security
            </div>
            <img src="img/Cholo.png" class="card-img-top" style="height: 300px;">
            <div class="card-body">
                <h5 class="card-title">Cholo Flores</h5>
                <p class="card-text">Contact info: Security@Yellowcity.com</p>
            </div>
        </div>
    </div>
</div>